@model DATN_Ecommerce.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xác Nhận Xóa Quyền Truy Cập</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Tên Quyền Truy Cập:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Mô Tả:</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Xác Nhận Xóa</td>
                        <td>
                        <form asp-action="Delete" asp-route-id="@Model.RoleId" >
        <input type="hidden" asp-for="RoleId" />
        <input type="submit" value="Xác Nhận Xóa" class="btn btn-danger" />
    </form>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
 
